html,
body {
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

.signup {
    text-align: center;
}

.signup a {
    color: yellow;
    text-decoration: none;
}

.forgot {
    text-align: center;
}

.forgot a {
    color: yellow;
    text-decoration: none;
}

.card {
    width: 370px;
    height: 400px;
    background: url(../Images/petrichor.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.form-footer {
    position: relative;
    top: -3%;
}

.card-body {
    margin: 15px;
    opacity: 0.6;
}

.form-control {
    border-radius: 12px;
}

.login_button {
    border-radius: 12px;
}

.login_button span {
    font-weight: 500;
}

.card-header {
    font-weight: 500;
    font-size: 1.4em;
}

.signup a:hover {
    color: white;
}

.forgot a:hover {
    color: white;
}


/* @media screen and(max-width: 768px) {
    .card {
        width: 185px;
        height: 200px;
        background-color: red;
    }
} */

.incorrect {
    color: red;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 222px;
        height: 250px;
        /* border-radius: 10px; */
        text-align: center;
        /* box-shadow: 3px 3px #cfcfff; */
    }
    .card-body {
        margin: 0 5px 6.25px 5px;
    }
    .form-control {
        height: 18px;
        border-radius: 6px;
        font-size: 10px;
    }
    .login_button {
        height: 25px;
        margin: 0;
        position: relative;
        border-radius: 10px;
        top: 2px;
    }
    .form-footer {
        font-size: 10px;
        top: -3%;
    }
    .btn {
        padding: 0;
    }
    .incorrect {
        color: #CD6157;
        font-weight: bold;
        font-size: 10px;
        margin: 0;
    }
}