html,
body {
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

.login {
    text-align: center;
}

.login a {
    color: yellow;
    text-decoration: none;
}

.forgot {
    text-align: center;
}

.forgot a {
    color: yellow;
    text-decoration: none;
}

.card {
    width: 370px;
    height: 520px;
    background: url(../Images/petrichor.png);
    background-size: cover;
    text-align: center;
}

.form-footer {
    position: relative;
    top: -3%;
}

.card-body {
    margin: 0 20px 25px 20px;
    opacity: 0.6;
}

.form-control {
    border-radius: 12px;
}

.login_button {
    border-radius: 12px;
}

.login_button {
    font-weight: 500;
}

.card-header {
    font-weight: 500;
    font-size: 1.4em;
}

.login a:hover {
    color: white;
}

.incorrect {
    color: #CD6157;
    font-weight: bold;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 222px;
        height: 340px;
        text-align: center;
    }
    .card-body {
        margin: 0 5px 6.25px 5px;
    }
    .form-control {
        height: 18px;
        border-radius: 6px;
        font-size: 10px;
    }
    .login_button {
        height: 25px;
        margin: 0;
        position: relative;
        border-radius: 10px;
        top: 2px;
    }
    .form-footer {
        font-size: 10px;
        top: -1%;
    }
    .btn {
        padding: 0;
    }
    .incorrect {
        font-size: 9px;
    }
}