<h1> This is the page for forgot password</h1>
<h1>Please enter your mail id to verify its you or not</h1>
<form action="/forgot" method="POST">
    <input type = "email" id = "email" name = "email" placeholder="email id" required>
    <button type = "submit">Submit</button>
</form>