<!DOCTYPE html>
<html lang="en">

<head>
    <title>CA Portal &mdash; Petrichor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomon_style.css">
    <link rel="stylesheet" href="css/ca-portal.css">
    <link rel="stylesheet" href="css/business.css">
    <link rel="stylesheet" href="css/preloader.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    
    <div class = "loader_bg">
        <div class = "loader">
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
      setTimeout(function(){
          $('.loader_bg').fadeToggle();
      },1500);
  </script>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-md-3 col-xl-4  d-block">
                        <h1 class="mb-0 site-logo">
                            <a href="/ca-portal" class="text-black h2 mb-0"><img src="images/logored.png" class="logoimg"> Petrichor<span class="text-primary">.</span></a>
                        </h1>
                    </div>

                    <div class="col-12 col-md-9 col-xl-8 main-menu">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li>
                                    <a href="#about-section" class="nav-link">About Us</a>
                                </li>
                                <li><a href="#features-section" class="nav-link">Why CA?</a></li>

                                <li><a href="#Incentives-section" class="nav-link">Incentives</a></li>
                                <li><a href="#testimonials-section" class="nav-link">FAQs</a></li>
                                <li><a href="#footer" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span
                                class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>


        <div class="site-blocks-cover" style="overflow: hidden;">
            <div class="container">
                <div class="row align-items-center justify-content-center">

                    <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

                        <!-- <img src="images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute"> -->
                        <div class="img-fluid img-absolute image_svg">
                            <div class="svg_image">
                                <svg width="861" height="683" viewBox="0 0 861 683" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="undraw_investing_7u74 1" clip-path="url(#clip0)">
                <path id="Vector" d="M162.35 528.879C162.35 528.879 482.713 271.624 667.224 528.879Z" fill="white"/>
                <path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M568.051 647.662C595.03 642.11 638.731 638.502 688.052 638.502C769.999 638.502 836.431 648.463 836.431 660.751C836.431 662.038 835.702 663.3 834.302 664.528C839.947 663.299 844.781 661.983 848.691 660.597C852.426 659.273 855.289 657.895 857.208 656.488C859.141 655.072 860.018 653.702 860.018 652.408C860.018 651.113 859.141 649.744 857.208 648.327C855.289 646.92 852.426 645.543 848.691 644.218C841.227 641.572 830.399 639.181 816.985 637.17C790.165 633.148 753.096 630.658 712.139 630.658C671.182 630.658 634.114 633.148 607.294 637.17C593.88 639.181 583.052 641.572 575.588 644.218C572.443 645.333 569.916 646.486 568.051 647.662ZM565.658 648.169C549.266 651.748 539.673 656.081 539.673 660.751C539.673 673.039 606.104 683 688.052 683C758.018 683 816.673 675.739 832.329 665.968C838.949 664.603 844.569 663.119 849.025 661.539C852.798 660.201 855.766 658.785 857.799 657.295C859.819 655.815 861.018 654.185 861.018 652.408C861.018 650.63 859.819 649 857.799 647.52C855.766 646.03 852.798 644.614 849.025 643.276C841.472 640.598 830.571 638.195 817.133 636.181C790.251 632.15 753.13 629.658 712.139 629.658C671.149 629.658 634.028 632.15 607.145 636.181C593.708 638.195 582.806 640.598 575.254 643.276C571.48 644.614 568.513 646.03 566.479 647.52C566.188 647.734 565.914 647.95 565.658 648.169Z" fill="white"/>
                <path id="Vector_2" d="M775.237 422.222C777.415 422.984 779.747 423.249 782.049 422.996C784.351 422.742 786.561 421.978 788.504 420.763C790.446 419.548 792.069 417.915 793.244 415.994C794.42 414.072 795.115 411.914 795.275 409.69C795.436 407.466 795.057 405.236 794.169 403.177C793.282 401.118 791.909 399.285 790.159 397.823C788.409 396.361 786.331 395.31 784.087 394.753C781.844 394.196 779.496 394.148 777.23 394.613L777.604 402.023L773.961 395.673C770.385 397.289 767.623 400.206 766.28 403.781C765.804 405.034 765.514 406.345 765.42 407.675C765.19 410.798 766.024 413.907 767.795 416.532C769.567 419.157 772.18 421.155 775.237 422.222V422.222Z" fill="#D1978B"/>
                <path id="Vector_3" d="M793.265 508.161C791.979 501.859 797.552 496.273 803.057 492.642C808.562 489.01 814.994 485.443 816.873 479.28C819.572 470.424 811.531 462.313 805.273 455.319C800.63 450.128 796.642 444.426 793.394 438.333C791.982 435.939 791.02 433.324 790.553 430.609C790.06 426.683 791.37 422.777 792.691 419.032C797.09 406.558 801.794 394.188 806.802 381.923" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="Vector_4" d="M775.854 420.315C778.031 421.077 780.363 421.341 782.665 421.088C784.967 420.835 787.177 420.07 789.12 418.855C791.063 417.64 792.685 416.008 793.861 414.086C795.036 412.164 795.731 410.007 795.891 407.782C796.052 405.558 795.673 403.329 794.786 401.269C793.898 399.21 792.525 397.377 790.775 395.915C789.026 394.454 786.947 393.403 784.703 392.846C782.46 392.289 780.112 392.241 777.846 392.706L778.221 400.115L774.577 393.765C771.001 395.382 768.239 398.298 766.897 401.874C766.42 403.126 766.13 404.437 766.036 405.768C765.806 408.89 766.64 411.999 768.412 414.624C770.183 417.249 772.796 419.247 775.854 420.315V420.315Z" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="Vector_5" d="M791.437 379.364C792.291 377.095 793.726 375.07 795.608 373.474C797.49 371.879 799.759 370.765 802.206 370.235L803.437 377.279L805.721 369.881C808.893 369.927 811.967 370.94 814.5 372.776C817.033 374.612 818.895 377.175 819.815 380.095C820.736 383.015 820.669 386.141 819.622 389.022C818.576 391.902 816.606 394.389 813.995 396.122C811.385 397.855 808.27 398.744 805.099 398.663C801.929 398.581 798.868 397.532 796.357 395.667C793.847 393.803 792.017 391.218 791.133 388.288C790.248 385.358 790.355 382.233 791.437 379.364H791.437Z" fill="#D1978B"/>
                <path id="Vector_6" d="M792.258 376.821C793.113 374.552 794.547 372.526 796.429 370.931C798.311 369.336 800.58 368.222 803.027 367.692L804.259 374.736L806.543 367.338C809.714 367.383 812.788 368.397 815.322 370.233C817.855 372.068 819.716 374.631 820.637 377.551C821.558 380.472 821.49 383.598 820.444 386.478C819.398 389.359 817.427 391.845 814.817 393.578C812.206 395.311 809.091 396.201 805.921 396.119C802.75 396.038 799.689 394.989 797.179 393.124C794.668 391.259 792.839 388.675 791.954 385.744C791.07 382.814 791.176 379.689 792.258 376.821V376.821Z" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="Vector_7" d="M802.647 455.462C806.1 456.667 809.894 456.607 813.305 455.294C816.716 453.981 819.506 451.507 821.142 448.342C822.779 445.177 823.148 441.543 822.179 438.134C821.21 434.724 818.97 431.777 815.888 429.853L814.133 435.538L812.888 428.411C812.876 428.406 812.863 428.401 812.85 428.397C811.003 427.753 809.043 427.464 807.08 427.549C805.117 427.633 803.191 428.089 801.411 428.89C799.631 429.691 798.033 430.821 796.707 432.216C795.382 433.611 794.354 435.244 793.684 437.021C793.014 438.798 792.715 440.684 792.802 442.573C792.89 444.461 793.364 446.315 794.196 448.027C795.028 449.739 796.203 451.277 797.653 452.553C799.103 453.829 800.8 454.817 802.647 455.462V455.462Z" fill="#D1978B"/>
                <path id="Vector_8" d="M803.358 452.885C806.812 454.091 810.606 454.031 814.017 452.718C817.428 451.405 820.218 448.93 821.854 445.765C823.49 442.601 823.859 438.967 822.89 435.557C821.921 432.148 819.682 429.2 816.6 427.277L814.845 432.962L813.6 425.835C813.588 425.829 813.575 425.825 813.562 425.821C809.832 424.519 805.717 424.696 802.123 426.313C798.529 427.931 795.749 430.855 794.396 434.444C793.043 438.033 793.227 441.992 794.908 445.451C796.589 448.909 799.628 451.583 803.358 452.885V452.885Z" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="Vector_9" d="M787.07 479.368C787.664 482.619 789.402 485.575 791.992 487.74C794.582 489.905 797.866 491.147 801.295 491.258C804.724 491.369 808.088 490.342 810.824 488.35C813.559 486.358 815.499 483.521 816.319 480.316C817.139 477.111 816.788 473.732 815.326 470.746C813.864 467.76 811.379 465.348 808.288 463.915C805.198 462.483 801.689 462.116 798.351 462.877C795.012 463.639 792.048 465.481 789.954 468.096L796.62 477.749L787.511 472.625C786.805 474.807 786.654 477.119 787.07 479.368V479.368Z" fill="#D1978B"/>
                <path id="Vector_10" d="M787.687 477.461C788.28 480.712 790.018 483.668 792.608 485.832C795.198 487.997 798.483 489.239 801.911 489.35C805.34 489.461 808.704 488.435 811.44 486.442C814.175 484.45 816.116 481.614 816.935 478.408C817.755 475.203 817.405 471.824 815.942 468.838C814.48 465.852 811.995 463.44 808.905 462.008C805.814 460.575 802.305 460.209 798.967 460.97C795.629 461.731 792.664 463.573 790.57 466.188L797.236 475.842L788.127 470.718C787.421 472.899 787.27 475.211 787.687 477.461V477.461Z" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="Vector_11" d="M772.492 516.696C772.492 516.696 785.695 511.718 789.674 508.992C793.653 506.266 809.984 503.01 810.971 507.383C811.958 511.755 830.812 529.128 815.906 529.244C801 529.359 781.271 531.597 777.3 529.269C773.329 526.942 772.492 516.696 772.492 516.696Z" fill="black"/>
                <path id="Vector_12" opacity="0.2" d="M816.172 527.722C801.266 527.837 781.537 530.075 777.566 527.747C774.542 525.975 773.336 519.614 772.933 516.68C772.654 516.691 772.492 516.696 772.492 516.696C772.492 516.696 773.329 526.942 777.3 529.269C781.271 531.597 801 529.359 815.906 529.244C820.209 529.21 821.695 527.737 821.614 525.556C821.016 526.874 819.375 527.697 816.172 527.722Z" fill="black"/>
                <path id="graph1" fill-rule="evenodd" clip-rule="evenodd" d="M161.946 383.171C163.374 378.988 167.469 375.953 172.322 375.953H207.296C213.345 375.953 218.214 380.666 218.214 386.439V510.94C218.214 515.579 215.07 519.533 210.697 520.908C210.899 520.089 211.006 519.235 211.006 518.356V393.855C211.006 387.788 205.894 382.869 199.589 382.869H164.614C163.695 382.869 162.802 382.974 161.946 383.171ZM160.798 383.498C162.148 378.57 166.808 374.953 172.322 374.953H207.296C213.86 374.953 219.214 380.077 219.214 386.439V510.94C219.214 516.28 215.441 520.749 210.347 522.046C208.771 526.298 204.549 529.342 199.589 529.342H164.614C158.309 529.342 153.197 524.424 153.197 518.356V393.855C153.197 389.076 156.369 385.009 160.798 383.498Z" fill="#60CBE2"/>
                <path id="graph2" fill-rule="evenodd" clip-rule="evenodd" d="M271.785 295.102C273.213 290.919 277.308 287.884 282.161 287.884H317.136C323.184 287.884 328.053 292.597 328.053 298.37V510.94C328.053 515.579 324.909 519.533 320.536 520.908C320.738 520.089 320.845 519.235 320.845 518.356V305.786C320.845 299.719 315.733 294.8 309.428 294.8H274.453C273.534 294.8 272.641 294.905 271.785 295.102ZM270.637 295.429C271.987 290.5 276.647 286.884 282.161 286.884H317.136C323.699 286.884 329.053 292.008 329.053 298.37V510.94C329.053 516.28 325.28 520.749 320.186 522.046C318.61 526.298 314.388 529.342 309.428 529.342H274.453C268.147 529.342 263.035 524.424 263.035 518.356V305.786C263.035 301.006 266.208 296.94 270.637 295.429Z" fill="#60CBE2"/>
                <path id="graph3" fill-rule="evenodd" clip-rule="evenodd" d="M381.624 233.917C383.052 229.734 387.147 226.699 392 226.699H426.975C433.023 226.699 437.892 231.412 437.892 237.185V510.94C437.892 515.579 434.748 519.533 430.375 520.908C430.577 520.089 430.684 519.235 430.684 518.356V244.601C430.684 238.534 425.572 233.615 419.266 233.615H384.292C383.373 233.615 382.48 233.72 381.624 233.917ZM380.476 234.244C381.826 229.315 386.486 225.699 392 225.699H426.975C433.538 225.699 438.892 230.823 438.892 237.185V510.94C438.892 516.281 435.119 520.749 430.025 522.046C428.449 526.298 424.227 529.342 419.266 529.342H384.292C377.986 529.342 372.874 524.424 372.874 518.356V244.601C372.874 239.821 376.047 235.755 380.476 234.244Z" fill="#60CBE2"/>
                <path id="graph4" fill-rule="evenodd" clip-rule="evenodd" d="M491.463 175.513C492.891 171.33 496.986 168.295 501.839 168.295H536.813C542.862 168.295 547.731 173.008 547.731 178.781V510.94C547.731 515.579 544.587 519.533 540.214 520.908C540.416 520.089 540.523 519.235 540.523 518.356V186.197C540.523 180.13 535.411 175.211 529.106 175.211H494.131C493.212 175.211 492.319 175.316 491.463 175.513ZM490.315 175.84C491.665 170.912 496.325 167.295 501.839 167.295H536.813C543.377 167.295 548.731 172.419 548.731 178.781V510.94C548.731 516.28 544.958 520.749 539.864 522.046C538.288 526.298 534.066 529.342 529.106 529.342H494.131C487.825 529.342 482.713 524.424 482.713 518.356V186.197C482.713 181.418 485.886 177.351 490.315 175.84Z" fill="#60CBE2"/>
                <path id="graph5" fill-rule="evenodd" clip-rule="evenodd" d="M601.302 73.5382C602.73 69.3554 606.825 66.3202 611.678 66.3202H646.652C652.701 66.3202 657.57 71.0329 657.57 76.8061V510.94C657.57 515.579 654.426 519.533 650.053 520.908C650.255 520.089 650.362 519.235 650.362 518.356V84.2225C650.362 78.1551 645.25 73.2365 638.944 73.2365H603.97C603.051 73.2365 602.158 73.341 601.302 73.5382ZM600.154 73.8651C601.504 68.9367 606.164 65.3202 611.678 65.3202H646.652C653.216 65.3202 658.57 70.4446 658.57 76.8061V510.94C658.57 516.28 654.797 520.749 649.703 522.046C648.127 526.298 643.905 529.342 638.944 529.342H603.97C597.664 529.342 592.552 524.424 592.552 518.356V84.2225C592.552 79.4428 595.725 75.376 600.154 73.8651Z" fill="#60CBE2"/>
                <path id="Vector_13" d="M829.573 529.806H0" stroke="#3F3D56" stroke-miterlimit="10"/>
                <path id="right_palm" d="M777.258 440.88C777.258 440.88 786.326 472.288 774.84 476.94C763.355 481.593 766.982 442.043 766.982 442.043L777.258 440.88Z" fill="#A0616A"/>
                <path id="left_shoes" d="M695.048 642.12C695.048 642.12 686.585 641.538 683.562 643.283C682.657 643.793 681.649 644.108 680.606 644.208C679.563 644.309 678.509 644.192 677.518 643.865C677.518 643.865 664.219 642.702 669.055 649.1C673.891 655.497 678.726 657.824 678.726 660.732C678.726 663.64 698.675 663.64 699.279 660.732C699.884 657.824 700.488 642.702 699.279 642.12C698.07 641.538 695.048 642.12 695.048 642.12Z" fill="#575A89"/>
                <path id="right_shoes" d="M717.414 642.12C717.414 642.12 725.877 641.538 728.899 643.283C729.804 643.792 730.813 644.108 731.856 644.208C732.899 644.309 733.952 644.192 734.944 643.865C734.944 643.865 748.243 642.702 743.407 649.1C738.571 655.497 733.735 657.824 733.735 660.732C733.735 663.64 713.787 663.64 713.183 660.732C712.578 657.824 711.974 642.702 713.183 642.12C714.391 641.538 717.414 642.12 717.414 642.12Z" fill="#575A89"/>
                <path id="leg" d="M670.264 434.482C670.264 434.482 666.032 526.378 668.45 531.031C670.868 535.684 679.331 614.202 678.122 618.855C676.913 623.508 670.868 642.702 678.122 645.61C685.376 648.518 701.093 645.61 701.093 645.61C701.093 645.61 705.324 622.345 703.511 610.131C701.697 597.917 701.093 546.735 701.093 546.735L713.183 493.226L717.414 543.827C717.414 543.827 718.623 613.039 710.16 626.998C701.697 640.957 713.183 646.773 713.183 646.773C713.183 646.773 736.153 649.681 738.571 649.099C740.989 648.518 736.758 625.835 738.571 615.947C740.385 606.06 744.616 550.806 748.243 537.429C751.87 524.052 772.423 449.604 757.31 434.482C742.198 419.36 670.264 434.482 670.264 434.482Z" fill="#3F3D56"/>
                <path id="neck" d="M698.675 237.895C698.675 237.895 702.302 265.813 700.488 266.395C698.675 266.976 732.526 266.395 732.526 266.395C732.526 266.395 725.877 249.528 732.526 236.15L698.675 237.895Z" fill="#A0616A"/>
                <path id="stips" d="M698.675 260.578C698.675 260.578 713.408 246.62 730.825 260.578L731.953 264.739L722.854 264.65H698.675V260.578Z" fill="#F2F2F2"/>
                <path id="body" d="M770.609 439.135C769.213 439.403 765.791 439.949 761.33 440.601C746.478 442.759 720.158 446.027 719.227 443.788C718.018 440.88 713.787 430.411 710.764 435.064C707.742 439.717 709.556 443.788 696.861 444.37C688.223 444.765 675.668 443.544 668.716 441.625C665.452 440.723 663.421 439.67 663.614 438.554C664.219 435.064 670.868 368.759 670.868 362.362C670.868 355.964 673.286 325.138 673.286 325.138L655.913 292.247L654.547 289.659C654.547 289.659 656.36 283.261 661.801 282.098C667.241 280.935 693.234 266.395 693.234 266.395C693.234 266.395 698.675 258.252 708.951 258.834C719.227 259.415 721.645 255.344 735.549 266.395C735.549 266.395 752.474 273.374 758.519 276.864C764.564 280.353 771.214 280.353 771.818 286.17C771.939 287.339 771.28 289.589 770.15 292.434C766.009 302.856 755.545 321.299 753.907 324.173C753.762 324.423 753.683 324.556 753.683 324.556C753.683 324.556 753.369 335.014 753.701 347.257V347.286C754.028 359.029 754.947 372.412 757.31 379.81C762.146 394.932 776.654 437.972 770.609 439.135Z" fill="#31323D"/>
                <path id="head" d="M741.857 220.233C741.434 218.38 740.62 216.63 739.466 215.092C739.006 210.838 737.531 206.744 735.157 203.129C734.226 201.435 732.906 199.968 731.295 198.841C729.451 197.819 727.347 197.314 725.221 197.383C724.835 197.377 724.141 197.49 723.517 197.517C723.117 197.398 722.714 197.292 722.31 197.192C722.073 196.687 721.606 195.215 721.475 195.315L719.713 196.662C718.967 196.538 718.218 196.441 717.466 196.364C717.192 195.612 716.919 194.861 716.645 194.11C716.201 194.782 715.811 195.486 715.48 196.216C714.732 196.18 713.983 196.168 713.233 196.179L711.735 194.794C711.647 195.18 711.444 195.533 711.15 195.81C710.856 196.086 710.485 196.275 710.082 196.351C709.393 196.42 708.706 196.508 708.022 196.614C707.966 196.614 707.91 196.614 707.855 196.613C704.165 196.525 700.195 196.365 697.11 198.314C695.666 199.268 694.491 200.552 693.689 202.05C693.312 202.297 692.933 202.542 692.566 202.804C691.328 203.616 690.256 204.639 689.401 205.823C688.78 206.844 688.308 207.942 688 209.088C686.823 212.535 686.278 216.153 686.388 219.78C686.515 223.431 687.947 226.929 690.443 229.683C692.025 231.319 694.037 232.527 695.621 234.161C698.884 237.525 699.496 242.218 702.286 245.777C705.238 249.543 710.625 252.02 715.356 252.73C718.201 253.143 721.102 253.01 723.893 252.341C726.685 251.671 729.311 250.477 731.621 248.828C732.729 248.085 733.671 247.135 734.39 246.034C736.032 243.301 735.336 239.866 735.946 236.764C737.089 230.95 742.855 226.072 741.857 220.233Z" fill="#2E2E34"/>
                <path id="left_palm" d="M661.196 442.625C661.196 442.625 670.264 474.032 658.778 478.685C647.293 483.338 650.92 443.788 650.92 443.788L661.196 442.625Z" fill="#A0616A"/>
                <path id="left_hand_shadow" opacity="0.1" d="M672.071 371.353C672.071 371.353 668.106 427.98 668.716 441.625C665.452 440.723 663.421 439.67 663.614 438.554C664.219 435.064 670.868 368.759 670.868 362.362C670.868 355.964 673.286 325.138 673.286 325.138L655.913 292.247C656.191 290.619 656.36 289.659 656.36 289.659L665.126 307.399L677.518 310.598L672.071 371.353Z" fill="black"/>
                <path id="left_hand" d="M658.778 286.17L654.547 289.659C654.547 289.659 649.107 320.485 649.711 328.046C650.315 335.607 637.017 450.186 647.293 450.186C657.569 450.186 669.055 448.441 667.241 444.37C665.428 440.298 670.26 371.354 670.26 371.354L675.704 310.598L658.778 286.17Z" fill="#575A89"/>
                <path id="right_hand_shadow" opacity="0.1" d="M770.609 439.135C769.213 439.403 765.791 439.949 761.33 440.601C759.015 424.129 752.825 376.762 753.218 372.301C753.411 370.103 753.575 359.238 753.702 347.286C754.028 359.029 754.947 372.412 757.31 379.81C762.146 394.932 776.654 437.972 770.609 439.135Z" fill="black"/>
                <path id="right_hand" d="M762.751 282.098L771.818 284.425C771.818 284.425 777.863 348.984 778.468 360.035C779.072 371.086 786.326 439.135 785.117 442.043C783.908 444.951 765.169 449.023 764.564 446.115C763.96 443.207 755.172 377.586 755.637 372.3C756.101 367.015 753.079 312.342 753.079 312.342L762.751 282.098Z" fill="#575A89"/>
                <path id="ball1" fill-rule="evenodd" clip-rule="evenodd" d="M179.85 316.013C181.27 312.317 184.967 309.669 189.328 309.669C194.923 309.669 199.426 314.029 199.426 319.367C199.426 321.838 198.461 324.1 196.868 325.817C196.978 325.228 197.036 324.621 197.036 324.002C197.036 318.37 192.291 313.805 186.437 313.805C183.948 313.805 181.659 314.63 179.85 316.013ZM178.432 317.319C179.425 312.379 183.939 308.669 189.328 308.669C195.439 308.669 200.426 313.441 200.426 319.367C200.426 322.722 198.827 325.707 196.331 327.666C194.801 331.488 190.949 334.2 186.437 334.2C180.584 334.2 175.839 329.634 175.839 324.002C175.839 321.445 176.817 319.108 178.432 317.319Z" fill="#3F3D56"/>
                <path id="ball2" fill-rule="evenodd" clip-rule="evenodd" d="M289.689 227.943C291.109 224.248 294.806 221.6 299.167 221.6C304.762 221.6 309.265 225.96 309.265 231.298C309.265 233.769 308.3 236.031 306.707 237.748C306.817 237.159 306.875 236.552 306.875 235.933C306.875 230.301 302.13 225.735 296.276 225.735C293.787 225.735 291.498 226.561 289.689 227.943ZM288.271 229.249C289.264 224.31 293.778 220.6 299.167 220.6C305.278 220.6 310.265 225.372 310.265 231.298C310.265 234.653 308.666 237.638 306.17 239.596C304.64 243.418 300.787 246.13 296.276 246.13C290.423 246.13 285.678 241.565 285.678 235.933C285.678 233.376 286.656 231.039 288.271 229.249Z" fill="#3F3D56"/>
                <path id="ball3" fill-rule="evenodd" clip-rule="evenodd" d="M400.492 167.686C401.911 163.99 405.608 161.342 409.969 161.342C415.565 161.342 420.068 165.702 420.068 171.04C420.068 173.511 419.102 175.773 417.51 177.49C417.62 176.901 417.677 176.294 417.677 175.675C417.677 170.043 412.932 165.477 407.079 165.477C404.589 165.477 402.301 166.303 400.492 167.686ZM399.074 168.992C400.066 164.052 404.581 160.342 409.969 160.342C416.08 160.342 421.068 165.114 421.068 171.04C421.068 174.395 419.469 177.38 416.973 179.339C415.443 183.16 411.59 185.872 407.079 185.872C401.225 185.872 396.48 181.307 396.48 175.675C396.48 173.118 397.458 170.781 399.074 168.992Z" fill="#3F3D56"/>
                <path id="ball4" fill-rule="evenodd" clip-rule="evenodd" d="M510.331 109.282C511.75 105.586 515.447 102.938 519.808 102.938C525.404 102.938 529.907 107.298 529.907 112.636C529.907 115.108 528.941 117.369 527.349 119.086C527.459 118.497 527.516 117.891 527.516 117.271C527.516 111.639 522.771 107.074 516.918 107.074C514.428 107.074 512.14 107.899 510.331 109.282ZM508.913 110.588C509.905 105.648 514.42 101.938 519.808 101.938C525.919 101.938 530.907 106.71 530.907 112.636C530.907 115.991 529.308 118.976 526.812 120.935C525.282 124.757 521.429 127.469 516.918 127.469C511.064 127.469 506.319 122.903 506.319 117.271C506.319 114.714 507.297 112.378 508.913 110.588Z" fill="#3F3D56"/>
                <path id="ball5" fill-rule="evenodd" clip-rule="evenodd" d="M620.17 7.30686C621.589 3.61156 625.286 0.963531 629.647 0.963531C635.243 0.963531 639.746 5.32325 639.746 10.661C639.746 13.1327 638.78 15.3946 637.188 17.1111C637.298 16.5221 637.355 15.9156 637.355 15.2962C637.355 9.66433 632.61 5.09875 626.757 5.09875C624.267 5.09875 621.978 5.92451 620.17 7.30686ZM618.752 8.61286C619.744 3.67308 624.259 -0.0364685 629.647 -0.0364685C635.758 -0.0364685 640.746 4.73496 640.746 10.661C640.746 14.0163 639.147 17.0014 636.651 18.9599C635.121 22.7818 631.268 25.4937 626.757 25.4937C620.903 25.4937 616.158 20.9282 616.158 15.2962C616.158 12.7396 617.136 10.4027 618.752 8.61286Z" fill="#3F3D56"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="861" height="683" fill="white"/>
                </clipPath>
                </defs>
                </svg></div>
                        </div>

                        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="col-lg-6 mr-auto heading_caportal">
                                <h1>Campus Ambassador Portal</h1>
                                <p class="mb-5" style="color: white; opacity: .8;">Your chance to be the know-it-all, go-to person for Petrichor'21 at your institution! Plus, exciting perks await those who <del>ask</del> work for it !!</p>
                                <div>
                                    <a href="/ca-portal/login" class="btn btn-primary mr-2 mb-2">Login</a>
                                    <a href="/ca-portal/signup" class="btn btn-primary mr-2 mb-2">Sign Up</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light" id="about-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">About Us</h2>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6" data-aos="fade-right">
                        <img src="images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto pl-lg-5">
                        <!-- <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2> -->
                        <p class="mb-4">Indian Institute of Technology Palakkad belongs to the new generation of IITs. It is an autonomous public institution established in the year 2015. Within a short time span, our institute started offering BTech, MS, MTech, MSc
                            and Phd programs.As of now, we are located in two campuses, viz, the Ahalia integrated campus(Temporary Campus) and the Nila Campus(Permanent Campus) at Kanjikode.The Nila campus is situated at the foot of the Western Ghats,
                            a UNESCO World Heritage Site.
                            <br>
                            <br>
                            <div>
                                IIT Palakkad is proud to introduce its Techno-Cultural fest, Petrichor. Petrichor founded in the year 2018, aims to break the loop of monotony that everyday lie has to offer and celebrate the new dawns that await us. Petrichor provides an ideal platform
                                for the students, faculty, participants and sponsers by hosting a plethora of Technical and Cultural events where participants can exhibit their technical and Cultural proficiency.From 6 cultural events and 5 technical
                                events in the first year to 17 cultural events and 9 technical events last year, Petrichor is evolving every year!
                            </div>
                        </p>
                        <!-- <ul class="ul-check mb-5 list-unstyled success">
              <li>Laborum enim quasi at modi</li>
              <li>Ad at tempore</li>
              <li>Labore quaerat esse</li>
            </ul> 
            <p><a href="#" class="btn btn-primary">Learn More</a></p>-->
                    </div>
                </div>


            </div>
        </div>
        <div class="site-section" id="features-section">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
                    <div class="col-7 text-center  mb-5">
                        <h2 class="section-title">Why CA?</h2>
                        <p class="lead">A wonderful opportunity to be a part of PETRICHOR'21 family, representing your institute. </p>
                    </div>
                </div>


                <div class="row align-items-stretch">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span>I</span></span>
                            </div>
                            <div>
                                <p>Being a campus ambassador gives you the best opportunity to enhance your leadership and managerial skills. </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class=>II</span></span>
                            </div>
                            <div>
                                <p>Opportunity to coordinate with team Petrichor for conducting various promotional events in your institute and city.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-">III</span></span>
                            </div>
                            <div>
                                <p>Exciting cash prizes for top 5 CAs. </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-">IV</span></span>
                            </div>
                            <div>
                                <p>Special discounts on pro-show tickets on the day of the fest for top 10 active CAs.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-">V</span></span>
                            </div>
                            <div>
                                <p>Free passes for workshops and guest lectures for top 5 CAs. </p>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-">VI</span></span>
                            </div>
                            <div>
                                <p>Top 30 active CAs to be conferred with a certificate of merit issued by IIT Palakkad, validating your performance as a CA. </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="site-section" id="Incentives-section">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
                    <div class="col-7 text-center  mb-5">
                        <h2 class="section-title">Campus Ambassador Incentives</h2>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quos quaerat sapiente nam, id vero.</p> -->
                    </div>
                </div>
                <div class="row align-items-stretch">
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                        <div class="ca-incentive unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary three-plus"></span></span>
                            </div>
                            <div>
                                <h3>For 3+ Registrations:</h3>
                                <p>
                                    <ul>
                                        <li>Campus Ambassadors will be awarded cashback of Rs.50 for every registration above 3 registraions.</li>
                                        <li>eg: If the Campus Ambassador has 6 registrations, he/she will get (6-3)X50 = 150 rupees cashback.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                        <div class="ca-incentive unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-ban"></span></span>
                            </div>
                            <div>
                                <h3>The rest of the incentives are not available for Workshops.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up">
                        <div class="ca-incentive non-workshop unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary all-campus-ambassadors"></span></span>
                            </div>
                            <div>
                                <h3>For all Campus Ambassadors:</h3>
                                <p>
                                    <ul>
                                        <li>Cash prize for top 5 Campus Ambassadors.</li>
                                        <li>Top 5 active Campus Ambassadors will be provided with free workshop and guest-lecture passes on the day of fest.
                                        </li>
                                        <li>Top 30 active Campus Ambassadors will be awarded with a certificate of merit.
                                        </li>
                                        <li>Special Discount on Pro-show entry passes will be provided to top 10 active Campus Ambassadors.</li>
                                        <li>Special discount on Petrichor goodies will be given to top 10 active Campus Ambassadors.
                                        </li>
                                    </ul>
                                </p>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                        <div class="ca-incentive non-workshop unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary ten-plus"></span></span>
                            </div>
                            <div>
                                <h3>If Campus Ambassador has 10+ participants:</h3>
                                <p>
                                    <ul>
                                        <li>Special discount on workshop or guest-lecture passes on the day of fest.</li>
                                        <li>Free Pro-show tickets.</li>
                                        <li>Special discount on Petrichor goodies.</li>
                                    </ul>
                                </p>
                                <h6 class="offline">Not Applicable for online events</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="ca-incentive non-workshop unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary thirty-plus"></span></span>
                            </div>
                            <div>
                                <h3>If Campus Ambassador has 30+ participants:</h3>
                                <p>
                                    <ul>
                                        <li>Free workshop or guest-lecture passes on the day of fest.</li>
                                        <li>Free accomodation on the day of fest.</li>
                                        <li>Free Pro-show tickets.</li>
                                        <li>Special discount on Petrichor goodies.</li>
                                    </ul>
                                </p>
                                <h6 class="offline">Not Applicable for online events</h6>
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up">
                        <div class="ca-incentive non-workshop unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary note"></span></span>
                            </div>
                            <div>
                                <h3>Note:</h3>
                                <p>
                                    <ul>
                                        <li>The performance of Campus Ambassadors will be judged on the basis of points they earn and the work they do.</li>
                                        <li>Participants should not be from online events and each participant should be a different person.
                                        </li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div class="site-section testimonial-wrap bg-light" id="testimonials-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">FAQs</h2>
                    </div>
                </div>
            </div>
            <div class="slide-one-item home-slider owl-carousel">
                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> What does it mean to be a College Ambassador? </strong></p>
                            <p class="answer">
                                &ldquo;As a College Ambassador, you will be an esteemed representative of Petrichor'21 at your institution. You will be the first point of contact for any student who requires any information about Petrichor'21 and you’ll be responsible for assisting
                                them in their small queries as and when required.&rdquo;</p>
                        </blockquote>


                    </div>
                </div>
                <div>
                    <div class="testimonial">

                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> What are the responsibilities as a College Ambassador?
                                </strong></p>
                            <p class="answer">
                                &ldquo;As a College Ambassador, you will be required to share Petrichor’s posts on all social media platforms and put up posters on your college notice boards. You will also be instrumental in conducting workshops and sessions in your campus. &rdquo;</p>
                        </blockquote>


                    </div>
                </div>

                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> Are these ambassadors paid for their work? </strong></p>
                            <p class="answer">
                                &ldquo;You may refer to our CA incentives section for this!&rdquo;</p>
                        </blockquote>



                    </div>

                </div>

                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> Is there any eligibility criteria for becoming a Campus
                                    Ambassador in your college? </strong></p>
                            <p class="answer">&ldquo;Not really; it completely depends upon your dedication towards work and how much you are motivated. Though, the ability to be able to communicate clearly and energetically with all age groups will be much appreciated!
                                That's all!&rdquo;</p>
                        </blockquote>



                    </div>

                </div>

                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> How can I apply for this post? </strong></p>
                            <p class="answer">
                                &ldquo;You will find Google sign-in button on the top-right corner of the page. Simply click on it to apply now! Once the registration is complete, you will not be able make changes to your email address. &rdquo;</p>
                        </blockquote>


                    </div>

                </div>


                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div><img src="images/information.png" alt="Image" class="w-100 img-fluid mb-3 shadow">
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p class="text-black"><strong> How much time will I have to spend? </strong></p>
                            <p class="answer">
                                &ldquo;You are expected to put in 1-2 hours every week on an average. Consistent commitment and sincerity toward the assigned tasks are imperative.&rdquo;</p>
                        </blockquote>


                    </div>

                </div>

            </div>
        </div>



        <div class="footer py-5 text-center" id="footer">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                        <p class="mb-0">
                            <a href="https://www.facebook.com/petrichor.iitpkd" class="p-3"><span
                                    class="icon-facebook"></span></a>
                            <a href="https://instagram.com/petrichor.iitpkd" class="p-3"><span
                                    class="icon-instagram"></span></a>
                            <a href="mailto:marketing.petrichor@iitpkd.ac.in" class="p-3"><span
                                    class="icon-envelope-o"></span></a>
                            <a href="https://www.linkedin.com/company/petrichor-iitpkd" class="p-3"><span
                                    class="icon-linkedin"></span></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- .site-wrap -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>


    <script src="js/main.js"></script>

</body>

</html>
