<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome Letter</title>

    <style>
        .formlink:hover span {
            color: rgb(255, 255, 255);
        }
        
        @media screen and (max-width: 600px) {
            .remove-flex-mobile {
                display: block !important;
            }
            .display-grid-mobile {
                display: block !important;
                padding-right: 20px !important;
            }
            .display-grid-mobile div {
                margin-right: 0 !important;
                margin-bottom: 30px !important;
            }
        }
    </style>
</head>

<body style="margin:0;">
    <table style="border: none; margin: 0 auto ; padding: 0;">
        <tr>
            <td style="padding: 0; background-color: #FFFFFF;">

                <div style="max-width: 600px; min-width: 200px; font-family: sans-serif; font-size: 16px; background-color: #bcc1c6; line-height: 1.4;  border: 1px solid #DFDFDF; border-radius: 10px; overflow: hidden;">

                    <div style="background: url('image-assets/iitpkd.jpg') #F5F5F5 no-repeat; background-size: cover; width: 100%;">
                        <img src="image-assets/petrichor_logo.png" style="width: 9%; height: auto;"> <span style="font-size: large; position: absolute; top: 3%;font-weight: 300;">Petrichor</span>
                        <div style="padding: 110px 20px;">
                            <div style="background: rgba(187, 150, 150, 0.4); padding: 30px; text-align: center; border-radius: 10px;">
                                <h1 style="font-size: 50px; color:#fff7f7; margin:0; padding-bottom:10px;border-radius: 10px; font-weight: 700;">Thanks for Joining!</h1>
                            </div>
                        </div>
                    </div>

                    <h2 style="font-size: 24px; padding: 40px 20px 30px 20px; text-align: center; font-weight: 700; color:#9d8e8e; margin-top: 0; ">Welcome!! Campus Ambassador Program 2021</h2>

                    <div style="display: flex; padding:0px 9px 0 10px; margin-bottom: 50px; flex-wrap: nowrap; justify-content: space-between;" class="display-grid-mobile">

                        <div style="text-align: center; flex-basis: 48%; flex-shrink: 0; margin-right: 20px;">
                            <article style="background-color: #588; overflow: hidden; margin-bottom: 10px;">
                                <img src="image-assets/iitpkd_building.jpg" alt="article-image" style="width: 100%; display: block;">
                                <h3 style="margin-bottom: 0; color:#FFFFFF; font-size:20px;">Campus Ambassador</h3>
                                <p style="margin-top:0; color: #FFFFFF; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">Your chance to be the know-it-all, go-to person for Petrichor'21 !!

                                </p>
                            </article>


                        </div>

                        <div style="text-align: center; flex-basis: 48%; flex-shrink: 0; margin-right: 20px;">
                            <article style="background-color: #588; overflow: hidden; margin-bottom: 10px;">
                                <img src="image-assets/auditorium.jpg" alt="article-image" style="width: 100%; display: block;">
                                <h3 style="margin-bottom: 0; color:#FFFFFF; font-size: 20px;">Gifts and Prizes</h3>
                                <p style="margin-top:0; color: #FFFFFF; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">Cash prize for top 5 Campus Ambassadors!!</p>
                            </article>
                        </div>
                    </div>
                    <p style="text-decoration: none; font-weight: 800; color: #b848c1;padding-bottom: 5px; padding-left: 15px; padding-right: 10px;">*Petrichor Cordially invites you to join the <a class="formlink" href="https://chat.whatsapp.com/Jk2irR752L3BuqvtyvyJBq" style=" text-decoration: none; font-weight: 800; color: rgb(136 136 242);"><span>Whatsapp group</span></a> for
                        easier communication.</p>
                    <p style="text-decoration: none; font-weight: 800; color: #b848c1;padding-bottom: 5px; padding-left: 15px; padding-right: 10px;">*Click on the link below, Enter your UPI ID, get amazing cashbacks!! <a class="formlink" href="https://forms.gle/WPVj3XWBRtHaQy7a8" style=" text-decoration: none; font-weight: 800; color: rgb(136 136 242);"><span>Google form Link</span></a>.</p>

                    <!-- Footer -->
                    <div style="background-color: #588; padding: 20px; text-align: center;">
                        <h4 style="margin-bottom: 10px; color:#FFFFFF;">Follow us social media</h4>
                        <div style="padding-bottom: 10px; padding-top: 10px;" class="social-media">
                            <a href="https://www.facebook.com/petrichor.iitpkd" style="color: #4A4A4A; text-decoration: none; cursor: pointer; padding: 0 5px;">
                                <img src="image-assets/facebook.png" alt="facebook icon" style="width: 35px;">
                            </a>
                            <a href="https://www.instagram.com/petrichor.iitpkd/" style="color: #4A4A4A; text-decoration: none; cursor: pointer; padding: 0 5px;">
                                <img src="image-assets/ig.png" alt="instagram icon" style="width: 35px;">
                            </a>
                            <a href="https://twitter.com/petrichor_iit" style="color: #4A4A4A; text-decoration: none; cursor: pointer; padding: 0 5px;">
                                <img src="image-assets/twitter.png" alt="twitter icon" style="width: 35px;">
                            </a>
                            <a href="https://www.linkedin.com/company/petrichor-iitpkd/" style="color: #4A4A4A; text-decoration: none; cursor: pointer; padding: 0 5px;">
                                <img src="image-assets/linkedin.png" alt="pinterest icon" style="width: 35px;">
                            </a>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</body>

</html>