body
{
	overflow-x: hidden;
}

.about-us-section
{
	margin: 0;
	height: 100%;
	background-image: url(../images/backgrounds5.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.about
{
	position: relative;
	height: 100%;
}

.heading
{
	font-size: 30px;
	color: white;
	position: relative;
	top: 50px;
	left: 350px;
	height: 30px;
	width: 130px;
}

.about img
{
	position: relative;
	shape-outside: polygon(0 0,100% 0,67% 40%,125% 100%,0 100%);
	float: left;
	height: 100%;
	background-image: url(../images/backgrounds5.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.about p
{   
	position: relative;
	top: 100px;
    padding: 20px 50px;
    color: white;
    font-size: 17px;
    font-family: "Roboto",sans-serif;      
}

@media only screen and (max-height: 680px)
{
	.about img
	{
		shape-outside: polygon(0 0,470px 0,320px 255px,610px 100vh,0 100vh);
	}
}


@media only screen and (max-width: 1450px)
{
	.about p
	{
		font-size: 14px;
	}

	.heading
	{
		left: 250px;
	}

}

@media only screen and (max-width: 1200px)
{
	.about p
	{
		font-size: 13px;
	}

	.about img
	{
		position: absolute;
	}

	.heading
	{
		left: 50px;
	}

}

@media only screen and (max-width: 992px)
{
	.heading
	{
		top: 50px;
		left: 100px;
	}

	.about img
	{
		position: absolute;
	}

	.about p
	{
		top: 100px;
		font-size: 12px;
		padding: 10px 100px;
	}
}

@media only screen and (max-width: 768px) 
{
	.heading
	{
		font-size: 18px;
		top: 30px;
		left: 25px;
	}


	.about img
	{
		position: absolute;
		width:  100%;
		height: 100%;
	}

	.about p
	{
		top: 40px;
		font-size: 12.4px;
		padding: 0px 25px;
	}
	.mobile{
		visibility: hidden;
	}
}



